In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv('insurance.csv')

In [3]:
dataset

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [4]:
dataset.head(10)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

In [5]:
dataset.shape

(1338, 7)

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
age         1338 non-null int64
sex         1338 non-null object
bmi         1338 non-null float64
children    1338 non-null int64
smoker      1338 non-null object
region      1338 non-null object
charges     1338 non-null float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [7]:
dataset.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [8]:
dataset.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [9]:
dataset.drop(['sex','children','region'],axis=1,inplace=True)

In [10]:
dataset

      age     bmi smoker      charges
0      19  27.900    yes  16884.92400
1      18  33.770     no   1725.55230
2      28  33.000     no   4449.46200
3      33  22.705     no  21984.47061
4      32  28.880     no   3866.85520
...   ...     ...    ...          ...
1333   50  30.970     no  10600.54830
1334   18  31.920     no   2205.98080
1335   18  36.850     no   1629.83350
1336   21  25.800     no   2007.94500
1337   61  29.070    yes  29141.36030

[1338 rows x 4 columns]

In [11]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 4 columns):
age        1338 non-null int64
bmi        1338 non-null float64
smoker     1338 non-null object
charges    1338 non-null float64
dtypes: float64(2), int64(1), object(1)
memory usage: 41.9+ KB

In [12]:
dataset.dtypes

age          int64
bmi        float64
smoker      object
charges    float64
dtype: object

In [13]:
for columnName in dataset.columns:
    print(columnName)

age
bmi
smoker
charges

In [14]:
if dataset["smoker"].dtypes=="O":
    print("qual")
else:
    print("quan")

qual

In [15]:
qual=[]
quan=[]
for columnName in dataset.columns:
    print(columnName)
    if dataset[columnName].dtypes=="O":
        print("qual")
    else:
        print("quan")

age
quan
bmi
quan
smoker
qual
charges
quan

In [16]:
qual=[]
quan=[]
for columnName in dataset.columns:
    #print(columnName)
    if dataset[columnName].dtypes=="O":
        #print("qual")
        qual.append(columnName)
    else:
        #print("quan")
        quan.append(columnName)

In [17]:
qual

['smoker']

In [18]:
quan

['age', 'bmi', 'charges']

In [19]:
def quanQual(dataset):
    qual=[]
    quan=[]
    for columnName in dataset.columns:
        #print(columnName)
        if dataset[columnName].dtypes=="O":
            #print("qual")
            qual.append(columnName)
        else:
            #print("quan")
            quan.append(columnName)
    return quan,qual

In [20]:
quanQual(dataset)

(['age', 'bmi', 'charges'], ['smoker'])

# Central Tendendy

In [21]:
dataset.describe()

               age          bmi       charges
count  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397  13270.422265
std      14.049960     6.098187  12110.011237
min      18.000000    15.960000   1121.873900
25%      27.000000    26.296250   4740.287150
50%      39.000000    30.400000   9382.033000
75%      51.000000    34.693750  16639.912515
max      64.000000    53.130000  63770.428010

In [22]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode"],columns=quan)

In [23]:
descriptive

        age  bmi charges
Mean    NaN  NaN     NaN
Median  NaN  NaN     NaN
Mode    NaN  NaN     NaN

In [25]:
descriptive["age"]["Mean"]

nan

In [26]:
descriptive["age"]["Mean"]=0

In [27]:
descriptive

        age  bmi charges
Mean      0  NaN     NaN
Median  NaN  NaN     NaN
Mode    NaN  NaN     NaN

In [28]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode"],columns=quan)
for columnName in quan:
    descriptive[columnName]["Mean"]=dataset[columnName].mean()

In [29]:
descriptive

           age      bmi  charges
Mean    39.207  30.6634  13270.4
Median     NaN      NaN      NaN
Mode       NaN      NaN      NaN

In [30]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode"],columns=quan)
for columnName in quan:
    descriptive[columnName]["Mean"]=dataset[columnName].mean()
    descriptive[columnName]["Median"]=dataset[columnName].median()
    descriptive[columnName]["Mode"]=dataset[columnName].mode()[0]

In [31]:
descriptive

           age      bmi  charges
Mean    39.207  30.6634  13270.4
Median      39     30.4  9382.03
Mode        18     32.3  1639.56

## Percentile

In [32]:
import numpy as np

In [34]:
np.percentile(dataset['bmi'],50)

30.4

In [37]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","Q4:100%"],columns=quan)
for columnName in quan:
    descriptive[columnName]["Mean"]=dataset[columnName].mean()
    descriptive[columnName]["Median"]=dataset[columnName].median()
    descriptive[columnName]["Mode"]=dataset[columnName].mode()[0]
    descriptive[columnName]["Q1:25%"]=dataset.describe()[columnName]["25%"]
    descriptive[columnName]["Q2:50%"]=dataset.describe()[columnName]["50%"]
    descriptive[columnName]["Q3:75%"]=dataset.describe()[columnName]["75%"]
    descriptive[columnName]["Q4:100%"]=dataset.describe()[columnName]["max"]

In [39]:
descriptive

            age      bmi  charges
Mean     39.207  30.6634  13270.4
Median       39     30.4  9382.03
Mode         18     32.3  1639.56
Q1:25%       27  26.2963  4740.29
Q2:50%       39     30.4  9382.03
Q3:75%       51  34.6938  16639.9
Q4:100%      64    53.13  63770.4

## Interquartile Range

In [40]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","Q4:100%","IQR","1.5rule","Lesser","Greater","Min","Max"],columns=quan)
for columnName in quan:
    descriptive[columnName]["Mean"]=dataset[columnName].mean()
    descriptive[columnName]["Median"]=dataset[columnName].median()
    descriptive[columnName]["Mode"]=dataset[columnName].mode()[0]
    descriptive[columnName]["Q1:25%"]=dataset.describe()[columnName]["25%"]
    descriptive[columnName]["Q2:50%"]=dataset.describe()[columnName]["50%"]
    descriptive[columnName]["Q3:75%"]=dataset.describe()[columnName]["75%"]
    descriptive[columnName]["Q4:100%"]=dataset.describe()[columnName]["max"]

In [41]:
descriptive

            age      bmi  charges
Mean     39.207  30.6634  13270.4
Median       39     30.4  9382.03
Mode         18     32.3  1639.56
Q1:25%       27  26.2963  4740.29
Q2:50%       39     30.4  9382.03
Q3:75%       51  34.6938  16639.9
Q4:100%      64    53.13  63770.4
IQR         NaN      NaN      NaN
1.5rule     NaN      NaN      NaN
Lesser      NaN      NaN      NaN
Greater     NaN      NaN      NaN
Min         NaN      NaN      NaN
Max         NaN      NaN      NaN

In [42]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","Q4:100%","IQR","1.5rule","Lesser","Greater","Min","Max"],columns=quan)
for columnName in quan:
    descriptive[columnName]["Mean"]=dataset[columnName].mean()
    descriptive[columnName]["Median"]=dataset[columnName].median()
    descriptive[columnName]["Mode"]=dataset[columnName].mode()[0]
    descriptive[columnName]["Q1:25%"]=dataset.describe()[columnName]["25%"]
    descriptive[columnName]["Q2:50%"]=dataset.describe()[columnName]["50%"]
    descriptive[columnName]["Q3:75%"]=dataset.describe()[columnName]["75%"]
    descriptive[columnName]["Q4:100%"]=dataset.describe()[columnName]["max"]
    descriptive[columnName]["IQR"]=descriptive[columnName]["Q3:75%"]-descriptive[columnName]["Q1:25%"]
    descriptive[columnName]["1.5rule"]=1.5*descriptive[columnName]["IQR"]
    descriptive[columnName]["Lesser"]=descriptive[columnName]["Q1:25%"]-descriptive[columnName]["1.5rule"]
    descriptive[columnName]["Greater"]=descriptive[columnName]["Q3:75%"]+descriptive[columnName]["1.5rule"]
    descriptive[columnName]["Min"]=dataset[columnName].min()
    descriptive[columnName]["Max"]=dataset[columnName].max()

In [43]:
descriptive

            age      bmi  charges
Mean     39.207  30.6634  13270.4
Median       39     30.4  9382.03
Mode         18     32.3  1639.56
Q1:25%       27  26.2963  4740.29
Q2:50%       39     30.4  9382.03
Q3:75%       51  34.6938  16639.9
Q4:100%      64    53.13  63770.4
IQR          24   8.3975  11899.6
1.5rule      36  12.5963  17849.4
Lesser       -9     13.7 -13109.2
Greater      87    47.29  34489.4
Min          18    15.96  1121.87
Max          64    53.13  63770.4

## finding lesser outlier and Greater Outlier

In [46]:
descriptive["age"]["Min"]<descriptive["age"]["Lesser"]

False

In [47]:
descriptive["age"]["Max"]>descriptive["age"]["Greater"]

False

In [48]:
lesser=[]
greater=[]
for columnName in quan:
    if(descriptive[columnName]["Min"]<descriptive[columnName]["Lesser"]):
        lesser.append(columnName)
    if(descriptive[columnName]["Max"]>descriptive[columnName]["Greater"]):
        greater.append(columnName)

In [49]:
lesser

[]

In [50]:
greater

['bmi', 'charges']

In [51]:
for columnName in lesser:
    dataset[columnName][dataset[columnName]<descriptive[columnName]["Lesser"]]=descriptive[columnName]["Lesser"]
for columnName in greater:
    dataset[columnName][dataset[columnName]>descriptive[columnName]["Greater"]]=descriptive[columnName]["Greater"]

C:\Users\Ruban J\Anaconda3\envs\aiml\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [52]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","Q4:100%","IQR","1.5rule","Lesser","Greater","Min","Max"],columns=quan)
for columnName in quan:
    descriptive[columnName]["Mean"]=dataset[columnName].mean()
    descriptive[columnName]["Median"]=dataset[columnName].median()
    descriptive[columnName]["Mode"]=dataset[columnName].mode()[0]
    descriptive[columnName]["Q1:25%"]=dataset.describe()[columnName]["25%"]
    descriptive[columnName]["Q2:50%"]=dataset.describe()[columnName]["50%"]
    descriptive[columnName]["Q3:75%"]=dataset.describe()[columnName]["75%"]
    descriptive[columnName]["Q4:100%"]=dataset.describe()[columnName]["max"]
    descriptive[columnName]["IQR"]=descriptive[columnName]["Q3:75%"]-descriptive[columnName]["Q1:25%"]
    descriptive[columnName]["1.5rule"]=1.5*descriptive[columnName]["IQR"]
    descriptive[columnName]["Lesser"]=descriptive[columnName]["Q1:25%"]-descriptive[columnName]["1.5rule"]
    descriptive[columnName]["Greater"]=descriptive[columnName]["Q3:75%"]+descriptive[columnName]["1.5rule"]
    descriptive[columnName]["Min"]=dataset[columnName].min()
    descriptive[columnName]["Max"]=dataset[columnName].max()

In [53]:
descriptive

            age      bmi  charges
Mean     39.207    30.65  12479.4
Median       39     30.4  9382.03
Mode         18     32.3  34489.4
Q1:25%       27  26.2963  4740.29
Q2:50%       39     30.4  9382.03
Q3:75%       51  34.6938  16639.9
Q4:100%      64    47.29  34489.4
IQR          24   8.3975  11899.6
1.5rule      36  12.5963  17849.4
Lesser       -9     13.7 -13109.2
Greater      87    47.29  34489.4
Min          18    15.96  1121.87
Max          64    47.29  34489.4

In [54]:
lesser=[]
greater=[]
for columnName in quan:
    if(descriptive[columnName]["Min"]<descriptive[columnName]["Lesser"]):
        lesser.append(columnName)
    if(descriptive[columnName]["Max"]>descriptive[columnName]["Greater"]):
        greater.append(columnName)

In [55]:
lesser

[]

In [56]:
greater

[]

## Frequency

In [57]:
dataset["bmi"].value_counts()

32.300    13
47.290     9
28.310     9
30.495     8
28.880     8
          ..
41.895     1
35.435     1
36.600     1
41.690     1
35.420     1
Name: bmi, Length: 540, dtype: int64

In [58]:
freqTable=pd.DataFrame(columns=["Unique_Value","Frequency","Relative_Frequency","Cumulative_Frequency"])

In [59]:
freqTable

Empty DataFrame
Columns: [Unique_Value, Frequency, Relative_Frequency, Cumulative_Frequency]
Index: []

In [60]:
freqTable["Unique_Value"]=dataset["bmi"].value_counts().index

In [61]:
freqTable

     Unique_Value Frequency Relative_Frequency Cumulative_Frequency
0          32.300       NaN                NaN                  NaN
1          47.290       NaN                NaN                  NaN
2          28.310       NaN                NaN                  NaN
3          30.495       NaN                NaN                  NaN
4          28.880       NaN                NaN                  NaN
..            ...       ...                ...                  ...
535        41.895       NaN                NaN                  NaN
536        35.435       NaN                NaN                  NaN
537        36.600       NaN                NaN                  NaN
538        41.690       NaN                NaN                  NaN
539        35.420       NaN                NaN                  NaN

[540 rows x 4 columns]

In [62]:
freqTable["Unique_Value"]=dataset["bmi"].value_counts().index
freqTable["Frequency"]=dataset["bmi"].value_counts().values
freqTable["Relative_Frequency"]=(freqTable["Frequency"]/540)
freqTable["Cumulative_Frequency"]=dataset["bmi"].cumsum()

In [63]:
freqTable

     Unique_Value  Frequency  Relative_Frequency  Cumulative_Frequency
0          32.300         13            0.024074                27.900
1          47.290          9            0.016667                61.670
2          28.310          9            0.016667                94.670
3          30.495          8            0.014815               117.375
4          28.880          8            0.014815               146.255
..            ...        ...                 ...                   ...
535        41.895          1            0.001852             16422.275
536        35.435          1            0.001852             16461.175
537        36.600          1            0.001852             16491.375
538        41.690          1            0.001852             16519.425
539        35.420          1            0.001852             16550.775

[540 rows x 4 columns]

In [64]:
def freqTable(columnName,dataset):
    freqTable=pd.DataFrame(columns=["Unique_Value","Frequency","Relative_Frequency","Cumulative_Frequency"])
    freqTable["Unique_Value"]=dataset[columnName].value_counts().index
    freqTable["Frequency"]=dataset[columnName].value_counts().values
    freqTable["Relative_Frequency"]=(freqTable["Frequency"]/103)
    freqTable["Cumulative_Frequency"]=freqTable["Relative_Frequency"].cumsum()
    return freqTable

In [65]:
freqTable(columnName,dataset)

      Unique_Value  Frequency  Relative_Frequency  Cumulative_Frequency
0     34489.350562        139            1.349515              1.349515
1      1639.563100          2            0.019417              1.368932
2      6986.697000          1            0.009709              1.378641
3      4399.731000          1            0.009709              1.388350
4      5257.507950          1            0.009709              1.398058
...            ...        ...                 ...                   ...
1194   4527.182950          1            0.009709             12.951456
1195   2719.279750          1            0.009709             12.961165
1196  19539.243000          1            0.009709             12.970874
1197   4536.259000          1            0.009709             12.980583
1198  34254.053350          1            0.009709             12.990291

[1199 rows x 4 columns]

In [66]:
dataset["bmi"].skew()

0.23250655837488995

In [67]:
dataset["bmi"].kurtosis()

-0.23632244671618174

In [68]:
def Univariate(dataset,quan):
        descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%",
                                   "Q3:75%","99%","Q4:100%","IQR","1.5rule","Lesser","Greater","Min","Max","kurtosis","skew"],columns=quan)
        for columnName in quan:
            descriptive[columnName]["Mean"]=dataset[columnName].mean()
            descriptive[columnName]["Median"]=dataset[columnName].median()
            descriptive[columnName]["Mode"]=dataset[columnName].mode()[0]
            descriptive[columnName]["Q1:25%"]=dataset.describe()[columnName]["25%"]
            descriptive[columnName]["Q2:50%"]=dataset.describe()[columnName]["50%"]
            descriptive[columnName]["Q3:75%"]=dataset.describe()[columnName]["75%"]
            descriptive[columnName]["99%"]=np.percentile(dataset[columnName],99)
            descriptive[columnName]["Q4:100%"]=dataset.describe()[columnName]["max"]
            descriptive[columnName]["IQR"]=descriptive[columnName]["Q3:75%"]-descriptive[columnName]["Q1:25%"]
            descriptive[columnName]["1.5rule"]=1.5*descriptive[columnName]["IQR"]
            descriptive[columnName]["Lesser"]=descriptive[columnName]["Q1:25%"]-descriptive[columnName]["1.5rule"]
            descriptive[columnName]["Greater"]=descriptive[columnName]["Q3:75%"]+descriptive[columnName]["1.5rule"]
            descriptive[columnName]["Min"]=dataset[columnName].min()
            descriptive[columnName]["Max"]=dataset[columnName].max()
            descriptive[columnName]["kurtosis"]=dataset[columnName].kurtosis()
            descriptive[columnName]["skew"]=dataset[columnName].skew()
        return descriptive

In [69]:
Univariate(dataset,quan)

                age       bmi    charges
Mean         39.207     30.65    12479.4
Median           39      30.4    9382.03
Mode             18      32.3    34489.4
Q1:25%           27   26.2963    4740.29
Q2:50%           39      30.4    9382.03
Q3:75%           51   34.6938    16639.9
99%              64   46.4079    34489.4
Q4:100%          64     47.29    34489.4
IQR              24    8.3975    11899.6
1.5rule          36   12.5963    17849.4
Lesser           -9      13.7   -13109.2
Greater          87     47.29    34489.4
Min              18     15.96    1121.87
Max              64     47.29    34489.4
kurtosis   -1.24509 -0.236322  0.0184538
skew      0.0556725  0.232507    1.08373

In [70]:
def Univariate(dataset,quan):
        descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%",
                                   "Q3:75%","99%","Q4:100%","IQR","1.5rule","Lesser","Greater","Min","Max","kurtosis","skew","var","std"],columns=quan)
        for columnName in quan:
            descriptive[columnName]["Mean"]=dataset[columnName].mean()
            descriptive[columnName]["Median"]=dataset[columnName].median()
            descriptive[columnName]["Mode"]=dataset[columnName].mode()[0]
            descriptive[columnName]["Q1:25%"]=dataset.describe()[columnName]["25%"]
            descriptive[columnName]["Q2:50%"]=dataset.describe()[columnName]["50%"]
            descriptive[columnName]["Q3:75%"]=dataset.describe()[columnName]["75%"]
            descriptive[columnName]["99%"]=np.percentile(dataset[columnName],99)
            descriptive[columnName]["Q4:100%"]=dataset.describe()[columnName]["max"]
            descriptive[columnName]["IQR"]=descriptive[columnName]["Q3:75%"]-descriptive[columnName]["Q1:25%"]
            descriptive[columnName]["1.5rule"]=1.5*descriptive[columnName]["IQR"]
            descriptive[columnName]["Lesser"]=descriptive[columnName]["Q1:25%"]-descriptive[columnName]["1.5rule"]
            descriptive[columnName]["Greater"]=descriptive[columnName]["Q3:75%"]+descriptive[columnName]["1.5rule"]
            descriptive[columnName]["Min"]=dataset[columnName].min()
            descriptive[columnName]["Max"]=dataset[columnName].max()
            descriptive[columnName]["kurtosis"]=dataset[columnName].kurtosis()
            descriptive[columnName]["skew"]=dataset[columnName].skew()
            descriptive[columnName]["var"]=dataset[columnName].var()
            descriptive[columnName]["std"]=dataset[columnName].std()
            
        return descriptive

In [71]:
Univariate(dataset,quan)

                age       bmi      charges
Mean         39.207     30.65      12479.4
Median           39      30.4      9382.03
Mode             18      32.3      34489.4
Q1:25%           27   26.2963      4740.29
Q2:50%           39      30.4      9382.03
Q3:75%           51   34.6938      16639.9
99%              64   46.4079      34489.4
Q4:100%          64     47.29      34489.4
IQR              24    8.3975      11899.6
1.5rule          36   12.5963      17849.4
Lesser           -9      13.7     -13109.2
Greater          87     47.29      34489.4
Min              18     15.96      1121.87
Max              64     47.29      34489.4
kurtosis   -1.24509 -0.236322    0.0184538
skew      0.0556725  0.232507      1.08373
var         197.401   36.6863  1.03186e+08
std           14.05   6.05693      10158.1